{%include "header.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Menu</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row row-cols-1 row-cols-md-3 g-4 d-flex flex-grow-1 justify-content-center align-items-center vh-100">
                <div class="col">
                    <div class="card">
                        <img src="/static/image/upstream.jpg" class="card-img-top" alt="Upstream">
                        <div class="card-body">
                            <h5 class="card-title">Upstream</h5>
                            <p class="card-text">Production Plan for Upstream (Coming Soon)</p>
                            <!-- <a href="#" class="btn btn-primary">Plan</a> -->
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/static/image/refinery.jpg" class="card-img-top" alt="Refinery">
                        <div class="card-body">
                            <h5 class="card-title">Refinery</h5>
                            <p class="card-text">Production Plan for Refinery (Coming Soon)</p>
                            <!-- <a href="#" class="btn btn-primary">Plan</a> -->
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="/static/image/filling.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Filling</h5>
                            <p class="card-text">Production Plan for Filling</p>
                            <a href="/planfillingtype" class="btn btn-primary">Plan</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>