{%include "header.html"%}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Plan Type</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="row d-flex flex-grow-1 justify-content-center align-items-center vh-100">
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">รายสัปดาห์</h5>
                            <p class="card-text">ใช้สำหรับวางแผนรายสัปดาห์ สำหรับสินค้าสินค้าที่ทราบ Sale Order หรือ
                                Delivery Plan แล้ว
                            </p>
                            <a href="/weeklyplan" class="btn btn-primary">Weekly Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">รายเดือน</h5>
                            <p class="card-text">ใช้สำหรับวางแผนรายเดือน สำหรับประเมินกำลังการผลิต และ Raw Material
                            </p>
                            <a href="#" class="btn btn-primary">Monthly Plan</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">สรุป</h5>
                            <p class="card-text">ใช้ดูสรุปแผนการผลิต และผลการผลิตภาพรวม
                            </p>
                            <a href="#" class="btn btn-primary">Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</body>

</html>