{%include "header.html"%}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Weeklyplan</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <style>
        .draggable {
            width: 18rem;
            height: 50px;
            padding: 0.5em;
            float: left;
            margin: 0px 0px 10px 0;
            position: relative;
        }

        .droppable {
            width: 10rem;
            height: 500px;
            padding: 0.5em;
            float: left;
            margin: 1px;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script>
        var plan = "{{record_plan | tojson | safe}}";
        $(function () {
            // $(".draggable").draggable({
            //     revert: "valid",
            //     start: function (event, ui) {
            //         // Set data when dragging starts
            //         ui.helper.data("itemData", $(this).find("p").text());
            //         ui.helper.css("z-index", "9999"); // Set a high z-index during drag
            //     },
            //     stop: function (event, ui) {
            //         ui.helper.css("z-index", "auto"); // Reset z-index after drag stops
            //     }
            // });
            $(".draggable").draggable({
                revert: "invalid",
                helper: "clone", // Use a clone as the helper during dragging
                appendTo: "body", // Append the helper to the body element
                start: function (event, ui) {
                    // Set data when dragging starts
                    const itemData = $(this).find("p").text();
                    $(ui.helper).data("itemData", itemData);
                }
            });

            $(".droppable").droppable({
                classes: {
                    "ui-droppable-active": "ui-state-active",
                    "ui-droppable-hover": "ui-state-hover"
                },
                drop: function (event, ui) {
                    // Get data from the draggable element
                    const draggedData = $(ui.helper).data("itemData");
                    for (let i = 0; i <= plan.length; i++) {
                        $(this).addClass("ui-state-highlight").find("p").html("Dropped: " + draggedData);
                        $(this).append("<p>" + plan[1] + "</p>");
                    }

                    // Return draggable to start position immediately after drop
                    ui.helper.animate({
                        top: 0,
                        left: 0
                    }, 200); // Adjust the animation duration as needed
                }
            });
        });
        // $(document).ready(function () {
        //     $(".datepicker").datepicker({
        //         format: 'dd/mm/yyyy',
        //         todayBtn: 'linked',
        //         showOtherMonths: true,
        //         selectOtherMonths: true
        //     }
        //     );
        // });
        $(function () {
            var dateFormat = "mm/dd/yy"
            var dateFormatPy = "yyyy-mm-dd"
            var today = new Date(); // Get today's date

            from = $("#from")
                .datepicker({
                    defaultDate: today,
                    showOtherMonths: true,
                    selectOtherMonths: true,
                    onSelect: function (selectedDate) {
                        $.ajax({
                            type: "POST",
                            url: "/get_selected_date",
                            data: {
                                selected_date: selectedDate // Pass the selected date to the server
                            },
                            success: function (response) {
                                console.log(response.message); // Display the server response (if any)
                            },
                            error: function (xhr, status, error) {
                                console.error(error); // Handle any errors that occur during the AJAX request
                            }
                        });
                        // Parse the selected date and calculate the new date that is 7 days ahead
                        var fromDate = $.datepicker.parseDate(dateFormat, selectedDate);
                        var toDate = new Date(fromDate.getTime() + 6 * 24 * 60 * 60 * 1000);
                        var date = $(this).datepicker("getDate");
                        const formattedDate = $.datepicker.formatDate('dd/mm/yy', date);
                        // Set the "To Date" datepicker with the new date
                        to.datepicker("setDate", toDate);

                        // Set the minimum date for the "To Date" datepicker to the selected "From Date"
                        to.datepicker("option", "minDate", selectedDate);
                        for (let i = 0; i <= 7; i++) {
                            const resultDate = new Date(fromDate.getTime() + (i * 24 * 60 * 60 * 1000));
                            const formattedResultDate = $.datepicker.formatDate('dd/mm/yy', resultDate);
                            $("#dateselected" + i).text(formattedResultDate)
                        }

                    }
                })
                .on("change", function () {
                    to.datepicker("option", "minDate", getDate(this));

                }),
                to = $("#to").datepicker({
                    defaultDate: "+1w",
                    showOtherMonths: true,
                    selectOtherMonths: true
                })
                    .on("change", function () {
                        from.datepicker("option", "maxDate", getDate(this));
                    });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });
    </script>
</head>

<body>

    <div class="container-fluid" style="margin: 1px;">
        <br>
        <div class="btn-group">
            <form action="{{ url_for('weeklyplan.lookup_size') }}" method="POST">
                <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Line Production : {{sku[0]['lineproduction']}}
                </button>
                <ul class="dropdown-menu">
                    <li><button class="dropdown-item" name="size" value="1">1/2 L, 1/4 L</li>
                    <li><button class="dropdown-item" name="size" value="2">1 L</li>
                    <li><button class="dropdown-item" name="size" value="3">1.9 L</li>
                    <li><button class="dropdown-item" name="size" value="4">5 L, Tin</li>
                    <li><button class="dropdown-item" name="size" value="5">200 L</li>
                </ul>
            </form>
        </div>
        <br><br>
        <div>
            <label for="from">Date</label>
            <input type="text" id="from" name="from">
            <label for="to">to</label>
            <input type="text" id="to" name="to" disabled>

        </div>
        <br>
        <div class="row">
            {%for i in range(7)%}
            <div class="column-day">
                <div class="col" align="center">
                    <p id="dateselected{{i}}"></p>
                    <div class="ui-widget-header droppable">
                        <p></p>
                    </div>
                </div>
            </div>
            {%endfor%}

            <div class="column-items">
                <div class="box-container">
                    {% for row in sku%}
                    <div class="ui-widget-content draggable">
                        <p>{{row.itemCode}} : {{row.itemName}}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>

</html>